a { text-decoration: none; }

aside {
    position: fixed;
    width: 12%;
    height: 100vh;
}

nav, ul {
    height: 101%;
    width: 100%;
    margin-left: -24px;
    margin-top: -8px;
}

aside nav ul a {
    height: 25%;
    width: 100%;
}

aside nav ul a .linkItem {
    font-size: 1.5rem;
    font-weight: 600;
}

aside a:hover { background-color: #D7B740; }

.home { background-color: #000000; }
.home .linkItem { color: #F9E4B7; }

.stream { background-color: #F9E4B7; }
.stream .linkItem { color: #000000; }

.about { background-color: #000000; }
.about .linkItem { color: #F9E4B7; }

.gallery { background-color: #F9E4B7; }
.gallery .linkItem { color: #000000; }

.partner { background-color: #000000; }
.partner .linkItem { color: #F9E4B7; }

.contact { background-color: #F9E4B7; }
.contact .linkItem { color: #000000; }

