#partner {
    background-color: #F9E4B7;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 20px;
    justify-items: center;
    align-content: center;
    overflow-x: auto;
}

.partnerWrapper {
    width: 200px;
    height: 200px;
    text-align: center;
}

.priorityPartner .partnerImage {
    max-width: 80%;
}

.priorityPartner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 100px;
}

.secondaryPartner .partnerImage {
    max-width: 50%;
}

.secondaryPartner {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}