 * {
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
 }

  body {
    font-family: 'Montserrat', sans-serif;;
  }
  .aside {
    position: fixed;
    width: 13rem;
    background-color: #414141;
    height: 100vh;
  }

  .aside nav, aside nav ul {
    height: 100%;
  }
  .aside li {
    list-style-type: none;
    width: 100%;
  }
  .aside li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 600;
  }
  .aside li a:hover {
    color: red;
  }

  .main {
    height: 100%;
    width: 100%;
    margin-left: 13rem;
    box-sizing: border-box;
  }
  .main section {
    height: 100vh;
    color: white;
  }
  section h1 {
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
  }
  .main .website-title {
    text-align: center;
    position: sticky;
    padding: 40px;
    color: #FFAB40;
  }

 .stream { background-color: red; }
 .about { background-color: green; }
 .contact { background-color: blue; }

 #stream { background-color: red; }
 #about { background-color: green; }
 #contact { background-color: blue; }
