#about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
    background-color: black;
    color: white;
}
#about .top {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    justify-items: center;
    align-items: center;
    height: 100%;
}

#about .top .aboutTitle{
    font-size: 50px;
}

#about .bottom {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    align-items: center;
    height: 100%;
    margin-left: 50px;
    margin-right: 50px;
}

#about .bottom p{
    text-align: center;
    height: 100%;
    line-height: 25px;
    font-size: 18px;
}