#about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
    background-color: black;
    color: white;
    overflow-x: auto;
}
#about .top {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    justify-items: center;
    align-items: center;
    height: 100%;
}

#about .top .aboutTitle{
    font-size: 56px;
    padding-left: 7rem;
}

#about .bottom {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    align-items: center;
    height: 100%;
    margin: 0 50px 0 50px;
}

#about .bottom p{
    text-align: center;
    height: 100%;
    line-height: 40px;
    font-size: 22px;
    padding: 0 18rem 0 18rem;
    text-align: justify;
}