#gallery {
    background-color: #F9E4B7;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    overflow-x: auto;
}

#gallery .galleryPhotographers {
    text-align: center;
}

#gallery .galleryPhotographers:hover {
    opacity: 0.8;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


#gallery .galleryPhotographers img {
    max-width: 75%;
}

#galleryAmina {
    background-color: #F9E4B7;
    overflow-x: auto;
}

#galleryTheo {
    background-color: #F9E4B7;
    overflow-x: auto;
}

section .shootName{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding-top: 30px;
}

section .shootNameTop {
    text-align: center;
    font-size: 24px;
    font-weight: 700;}