* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 50%;
}

.main {
    height: 100%;
    width: 100%;
    margin-left: 13rem;
    box-sizing: border-box;
}
.main section {
    height: 100vh;
    color: white;
}
section h1 {
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
}
